.fp-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #f4f5f7; */
}

.fp-box {
  width: 320px;
  background: #fff;
  padding: 25px 20px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.fp-box h2 {
  margin-bottom: 6px;
}

.fp-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.fp-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #111;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.fp-error {
  color: red;
  font-size: 13px;
}

.fp-message {
  color: green;
  font-size: 13px;
}