.Home {
  width: 100%;
  height: 85%;
}

.Home-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.top-heading {
  padding: 0 15px;
  margin: 0;
  font-size: 18px;
}
.top-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.small-box {
  aspect-ratio: 2/2;
  background: white;
  padding: 20px 15px;
  border-radius: 12px;
  color: #555;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.small-box h4 {
  font-weight: 600;
}
.small-box p {
  margin: 0;
}

.home-search-box {
  padding: 0 15px;
}

.search-box {
  width: 100%;
  padding: 14px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 15px;
  outline: none;
  font-size: 15px;
}

.entries-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px;
  padding-bottom: 40px;
}

.sell-group {
  margin-bottom: 20px;
}

.sell-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #333;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 0;
}

.sell-header .arrow {
  font-size: 18px;
}

.purchase-list {
  margin-left: 25px;
  margin-top: 10px;
  border-left: 2px solid #ddd;
  padding-left: 12px;
}

.purchase-item {
  margin-bottom: 12px;
}

.purchase-list .entry-card {
  background-color: rgba(0, 200, 255, 0.198);
  margin-bottom: 10px;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 20px;
}

.toggle-btn {
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  background: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  font-weight: 600;
  width: 30%;
}

.toggle-btn.active {
  background: #016b61;
  color: #fff;
  border: none;
}

@media screen and (min-width: 1200px) {
  .Home-main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 680px) {
  .Home {
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
  }
  .Home-main {
    width: 100%;
  }
}
