.entry-card-wrapper {
  position: relative;
  overflow: hidden;
}

/* Card slides left on swipe */
.entry-card {
  background: white;
  padding: 18px;
  border-radius: 14px;
  transition: 0.25s ease;
  /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08); */
  overflow: hidden;
}
.card-top {
  display: flex;
  justify-content: space-between;
}

.entry-card-wrapper.purchse-card {
  background-color: rgb(203, 203, 203);
}

.card-left h4 {
  font-size: 18px;
}

.card-right .profit {
  color: green;
}
.card-right .loss {
  color: red;
}
.card-left h4 span {
  font-size: 14px;
  font-weight: 400;
}
.card-left p {
  margin: 0;
  font-size: 14px;
}

.card-right p {
  margin: 0;
  text-align: end;
}
/* Buttons initially hidden to the right */
.swipe-actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  transition: 0.25s ease;
}

/* Buttons styling */
.accept,
.decline {
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 14px;
}

.accept {
  background: #28a745;
}

.decline {
  background: #dc3545;
}

.card-status {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 0 0 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card-status svg {
  width: 12px;
  height: 12px;
}
.card-status.processing {
  background-color: orange;
}
.card-status.completed {
  background-color: green;
  color: white;
}

.card-arrow {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-right .action {
  background-color: #016b61;
  border-radius: 12px;
  padding: 5px 10px;
  color: white;
}

.review-status {
  font-size: 12px;
}
.review-status.green {
  color: green;
}
.review-status.red {
  color: red;
}

.entry-card.purchase {
  background-color: rgba(255, 0, 0, 0.198);
}

.entry-card.restMoney {
  background-color: rgba(64, 255, 0, 0.198);
}
