.Pnav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #016B61;
  display: none;
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 99999;
}
.Pnav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0;
}
.Pnav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.Pnav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #d8fff1;
  cursor: pointer;
  font-size: 12px;
  width: 50px;
}
.Pnav ul li a svg {
  font-size: 25px;
  color: #d8fff1;
}

/*  */

.Pnav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.Pnav li {
  flex: 1;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  text-decoration: none;
  color: #333;
  position: relative;
  z-index: 1;
  font-weight: 500;
  transition: color 0.5s ease;
}

.nav-link.active {
  color: white;
}
.nav-link:focus {
  color: white;
}
.nav-link.active svg {
  color: #016B61;
}

.Pnav .highlight {
  position: absolute;
  top: 10%;
  height: 50px;
  background-color: #d8fff1;
  border-radius: 50px;
  z-index: 0;
}

/* Water droplet tail */
.Pnav .liquid-tail {
  position: absolute;
  top: 10%;
  height: 50px;
  background-color: #d8fff1;
  border-radius: 50px;
  z-index: 0;
  pointer-events: none;
  transform-origin: right;
  /* mix-blend-mode: multiply; */
}

.nav-link .navdonate {
  width: 85%;
}
@media only screen and (max-width: 990px) {
  .Pnav {
    display: block;
  }
}
