.Sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: -100%;
  background-color: #016b61;
  z-index: 999999;
  padding: 1rem;
  transition: all ease-in-out 0.5s;
  overflow: auto;
  /* display: none; */
}

.Sidebar.active {
  left: 0;
}

.Sidebar-main {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.sidebar-closebnt {
  font-size: 35px;
  /* color: white; */
  position: absolute;
  right: 5%;
  top: 2%;
  z-index: 9;
}

.sidebar-top a {
  text-decoration: none;
  color: black;
}

.Sidebar-main .SearchCard {
  padding: 10px;
  /* margin: 0; */
}
.Sidebar-main .SearchCard h6 {
  font-size: 18px;
}

.sidebar-profile-visit {
  font-size: 20px;
}

.sidebar-items ul {
  padding: 0;
  margin-top: 1rem;
}
.sidebar-items ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8fff1;
}
.sidebar-items ul li a {
  text-decoration: none;
  color: #d8fff1;
  padding: 15px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.sidebar-items ul li a svg {
  font-size: 20px;
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar-logout p {
  margin: 0;
  width: 100%;
  border: 1px solid #d8fff1;
  color: #d8fff1;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.SearchCard {
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.SearchCard-left {
  width: 25%;
}
.SearchCard-left img {
  width: 100%;
  border-radius: 50px;
}

.SearchCard-right h5 {
  margin-bottom: 10px;
}
.SearchCard-right span {
  font-size: 16px;
}
